@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

body {
  background: url("https://wallpaperaccess.com/full/796832.jpg");
  opacity: 0.9;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto Mono", monospace;
}

.container {
  height: 100vh;
  width: 100vw;
}

.player-select {
  text-align: center;
  background-color: black;
  color: green;
  padding: 10px 0;
  width: 100;
}

.displayBoxes {
  position: relative;
  top: 25%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.playerDisplay {
  text-align: center;
  border: solid 10px grey;
  background-color: black;
  height: 30%;
  width: 30%;
}

.namePlate {
  background-color: aliceblue;
}

.health {
  margin-top: 10%;
  display: flex;
  color: white;
  height: 20px;
  font-size: 20px;
  align-items: center;
}

h2 {
  margin: 0;
}

.hpBarBorder {
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.hpBar {
  background-color: green;

  width: 100%;
  height: 20px;
}

.attackDisplay {
  background-color: black;
  color: rgb(9, 199, 9);
  border-top: solid 20px white;
  height: 20%;
  width: 20%;
  position: relative;
}

.attackDisplay::before {
  content: "";
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -17.5px;
  left: 2.5px;
}

.attackDisplay::after {
  content: "";
  background-color: orange;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -17.5px;
  left: 20px;
}

#player-img {
  height: 80%;
  width: 100%;
}

#enemy-img {
  height: 80%;
  width: 100%;
}

.button {
  height: 30px;
  width: 30%;
}

.attackButton {
  height: 30px;
  width: 30%;
}
